<div class="ml-80 mt-4">
  <div class="grid grid-cols-2">
    <div>
      <h3
        class="mb-4 text-4xl font-medium leading-none tracking-tight text-gray-900"
      >
        Categories List
      </h3>
    </div>
    <div>
      <button
        routerLink="/categories/create"
        class="rounded-full bg-indigo-600 p-2 text-white float-right mr-2"
      >
        Create New
      </button>
    </div>
  </div>
  <div>
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">Index</th>
          <th>Category Name</th>
          <th>Image</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="bg-white border-b"
          *ngFor="let catgeory of categories; let i = index"
          [attr.draggable]="true"
          (dragstart)="onDragStart(i)"
          (dragover)="onDragOver($event, i)"
          (dragend)="onDragEnd()"
        >
          <td
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ i + 1 }}
          </td>
          <td>{{ catgeory.categoryName }}</td>
          <td *ngIf="catgeory.categoryImage">
            <img
              [src]="catgeory.categoryImage"
              class="border-4 border-white-400"
              height="80"
              width="80"
            />
          </td>
          <td *ngIf="!catgeory.categoryImage"></td>
          <td *ngIf="catgeory.categoryStatus === true">Active</td>
          <td *ngIf="catgeory.categoryStatus === false">In-Active</td>
          <td>
            <button class="rounded-full bg-cyan-600 p-2 text-white mr-1">
              Edit
            </button>
            <button class="rounded-full bg-red-600 p-2 text-white">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
