<div class="ml-80 mt-4">
  <div class="grid grid-cols-2">
    <div>
      <h3
        class="mb-4 text-4xl font-medium leading-none tracking-tight text-gray-900"
      >
        All Your Uploads Are Here
      </h3>
    </div>
    <div>
      <button
        routerLink="/users"
        class="rounded-full bg-indigo-600 p-2 text-white float-right mr-2"
      >
        Back
      </button>
    </div>
  </div>
  <label class="mt-2 font-bold">Upload Files</label><br />
   <input
      type="file"
      placeholder=""
      class="bg-white border-2 border-black mt-2 rounded-md p-1"
      accept="jpeg,jpg,png"
      name="upload_files"
      multiple
      (change)="multiSelect($event)"
      /><br />
      <div *ngIf="previews && previews.length > 0 ">
        <label class="mt-8 font-bold" >Preview of Uploads</label>
        <div class="grid grid-cols-4 mt-4" >
          <img *ngFor='let preview of previews' [src]="preview" class="preview w-16 md:w-32 lg:w-48 mt-4">
        </div>
      </div>
      <button
      class="rounded-md bg-indigo-600 p-2 text-white mt-2"
      (click)="Submit()"
    >
      Upload
    </button>
    <br>
    <div *ngIf="uploads && uploads.length > 0 " class="mt-4">
      <label class="font-bold">All Uploads</label>
      <div class="grid grid-cols-4 mt-2" >
        <img *ngFor='let preview of uploads' [src]="preview" class="preview w-16 md:w-32 lg:w-48 mt-4">
      </div>
    </div>
</div>
